.menu{
    background-color: #e91e84;
    padding: 10px 0;
    margin: 0;
    width: 100%; 
}
.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.menu ul li {
    display: inline;
    margin: 0 15px;
}

.menu ul li a {
    color: white;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease;
}

body {
    background-color: rgb(214, 235, 255);
    font-family: Arial, sans-serif;
}

.catalogo {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px; 
    max-width: 1200px;
    margin: auto; 
}



fieldset{
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px; 
    background-color: white; 
    box-shadow: 0 2px 5px  #e44b972b;
}

legend {
    font-weight: bold;
    font-size: 18px; 
    margin-bottom: 10px; 
}

a {
    color: #e91e84; 
    text-decoration: none; 
    font-size: 14px; 
}

.remember-me {
    margin-top: 10px; 
}

input[type="submit"] {
    background-color: #e91e84;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}



.producto {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: transform 0.2s, box-shadow 0.2s;
}

.producto:hover{
    box-shadow: 0 10px 20px #e44b972b;
}

.producto img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

.info-producto{
    padding: 15px 30px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.info-producto h4 {
    margin-top: 20px; 
    color: #e91e84; 
}

.info-producto ul {
    padding-left: 20px; 
}

.info-producto li {
    margin-bottom: 5px; 
    color: #383838; 
}

h1 {
    text-align: center; 
    color: #2c2c2c; 
    margin-bottom: 20px;
}


h2 {
    font-size: 18px;
    margin: 8px 0;
}

h3 {
    font-size: 16px;
    color: #e91e84;
    margin-bottom: 6px;
}

p {
    font-size: 14px;
    color: #2c2c2c;
}

hr{
    color: #e91e84;
}




