* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right,  #8ad8f0, #e5548e); 
}

section {
    display: flex;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.game--title {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #cd3064; 
    text-align: center;
}

.game--container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin-bottom: 20px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #f0f0f0; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.cell:hover {
    background-color: #c1e8f3; 
}

.game--status {
    font-size: 1.2rem;
    color: #484848; 
    margin-bottom: 10px;
    text-align: center;
}

.game--restart {
    padding: 10px 20px;
    font-size: 1rem;
    color: #ffffff;
    background-color: #cd3064; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin-top: 10px; 
}

.game--restart:hover {
    background-color: #3ba7d9; 
}

h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

#scoreList {
    list-style-type: none;
    padding: 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
}

#scoreList li {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ddd;
}

#scoreList li:last-child {
    border-bottom: none;
}

#scoreList li:nth-child(1) {
    background: linear-gradient(to right, #facb53df, #ffeab4);
    font-weight: bold;
}

#scoreList li:nth-child(2) {
    background: linear-gradient(to right, #d4d4d3d6, #f9f8f8);
}

#scoreList li:nth-child(3) {
    background: linear-gradient(to right, #f09a45e4, #fbcd9f);

}